.rectangles-wrapper {
  position: relative;
  width: 100vh;
  height: 80vh;
}
.controls-wrapper {
  height: 19vh;
  margin-bottom: 1vh;
}

.rectangle {
  position: absolute;
  background-color: #faa;
}

.field {
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.field .field-label {
  margin-right: 5px;
}

.field .field-input {
  width: 50px;
}

.rectangle-form-wrapper {
  width: 320px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.button {
  border: none;
  background-color: transparent;
  height: 36px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  width: 125px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

.button-add {
  background-color: rgb(0, 188, 212);
}

.button-clear {
  background-color: rgb(255, 64, 129);
}

.error {
  padding: 10px;
  color: rgb(244, 67, 54);
}

.info-wrapper {
  margin-left: 40px;
}

.info {
  align-self: flex-start;
  padding: 10px;
}

.fixed-height-60 {
  height: 60px;
}

.bold-text {
  font-weight: bold;
}

@media print {
  .rectangles-wrapper {
    box-shadow:  inset 100vw 100vh #faa;
  }
}